[credential]
	helper = cache --timeout 315360000
[user]
	email = user@localhost
	name = myname
[push]
	default = simple
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[core]
    editor = vim
[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
